@model ShopWeb.Models.ViewModels.UserVM.ChangePasswordRequest;

@{
    ViewBag.RenderDefaultNavbar = false;
}

@await Html.PartialAsync("SideNavBar")
<div class="bg-secondary bg-opacity-10 py-2" style="margin-left: 200px;>
    <div class="container">
        <h1>User Change Password - User Functionality</h1>
    </div>
</div>



@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{

    <div class="container py-5" id="user-detail-container">
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.ConfirmPassWord, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.ConfirmPassWord, new { @class = "form-control" })
            <span class="text-danger" asp-validation-for="ConfirmPassWord"></span>
        </div>
        <button class="btn btn-dark justify-content-center">Lưu</button>
    </div>
}
