@using Microsoft.AspNetCore.Identity
@using ShopWeb.Models.Domain;
@inject UserManager<ApplicationUser> userManager

@model ShopWeb.Models.Domain.Response

<h1>Response Details</h1>

<div>
    <h4>Id: @Model.Id</h4>
    <h4>Người gửi: @userManager.FindByIdAsync(@Model.UserId.ToString()).Result.UserName</h4>
    <h4>Heading: @Model.Heading</h4>
    <h4>Content: @Model.Content</h4>
    <h4>Created At: @Model.CreatedAt</h4>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
