@model ShopWeb.Models.ViewModels.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
    
}

<div id="home-page-container">
    <!-- <div class="container" id="category-container">
        <div class="row justify-content-center">
            <div class="col-6 " >
                @if (Model != null && Model.Categories.Any())
                {
                    foreach (var cate in Model.Categories)
                    {
                        <div style="display: block;">
                            <span class="badge bg-dark me-1 category-tag">
                                @cate.Name
                            </span>
                        </div>
                        <hr />
                    }
                } else
                {
                    <p>No Categories Found!</p>
                }
            </div>
        </div>
    </div> -->


    <div id="index-container">
        <div class="row justify-content-center" id="template-mo-zay-hero-carousel">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Sản phẩm bán chạy</h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            @if (Model.bestSellingProducts != null && Model.bestSellingProducts.Any())
            {
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var product in Model.bestSellingProducts)
                        {
                            <div class="carousel-item @(product == Model.bestSellingProducts.First() ? "active" : "")">
                                <a asp-area="" asp-action="Index" asp-controller="Products" asp-route-id="{@product.Id}">
                                    <img src="@product.FeaturedImageUrl" class="d-block w-100" alt="@product.Name">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>@product.Name</h5>
                                    <p>Price: @product.Price</p>
                                    <p>Purchase Count: @product.PurchaseCount</p>
                                </div>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
            else
            {
                <p>No best-selling products found.</p>
            }
        </div>
        <div id="search-allProducts-container">
            
            <div id="product-list-container">
                @if (Model != null && Model.Products.Any())
                {
                    <section class="bg-light">
                        <div class="container py-5">
                            <div class="row text-center py-3">
                                <div class="col-lg-6 m-auto">
                                    <h1 class="h1">Featured Product</h1>
                                    <p>
                                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="col-12 col-md-4 mb-4">
                                        <div class="card h-100">
                                            @if (product.State == "Available")
                                            {
                                                <img src="@product.FeaturedImageUrl" alt="@product.Name" class="mb-2 d-block img-fluid" />
                                            } else
                                            {
                                                <div class="image-container">
                                                    <img src="@product.FeaturedImageUrl" alt="@product.Name" class="mb-2 d-block img-fluid first-layer" />
                                                    <img src="/Assets/ood.jpg" class="second-layer" />
                                                </div>
                                            }
                                            <div class="card-body">
                                                <ul class="list-unstyled d-flex justify-content-between">
                                                    <li>
                                                        <i class="text-warning bi bi-star-fill"></i>
                                                        <i class="text-warning bi bi-star-fill"></i>
                                                        <i class="text-warning bi bi-star-fill"></i>
                                                        <i class="text-muted bi bi-star"></i>
                                                        <i class="text-muted bi bi-star"></i>
                                                    </li>
                                                    <li class="text-muted text-right">Giá: @product.Price</li>
                                                </ul>
                                                <h2 class="h2 text-decoration-none text-dark">@product.Name</h2>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                                                </p>
                                                <p class="text-muted">Reviews (24)</p>
                                                @if (product.State == "Available")
                                                {
                                                    <div>
                                                        <a class="btn btn-dark"
                                                           asp-area=""
                                                           asp-controller="Products"
                                                           asp-action="Index"
                                                           asp-route-id="{@product.Id}">Chi Tiết</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>     
                        </div>
                    </section>
                } else
                {
                    <p>No Products Found!</p>
                }

            </div>
        </div>
    </div>

    <div id="paging-bar">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @if (Model != null && Model.PageCount > 1)
                {
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>

    
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.category-tag').click(function () {
                var categoryName = $(this).text().trim();
                sortByCategory(categoryName);
                $('#category').val(categoryName);
            });
        });

        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000 // Change slide every 5 seconds
            });
        });

        function sortByCategory(categoryName) {
            $.ajax({
                url: '/Home/SortByCategory',
                type: 'GET',
                data: { category: categoryName },
                success: function (data) {
                    $('#product-list-container').empty();
                    $('#product-list-container').html(data);
                },
                error: function () {
                    alert('Error occurred while sorting products.');
                }
            });
        }
    </script>

}
