@model ShopWeb.Models.ViewModels.ProductVM.AddProductRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Product - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5" id="productAdmin-container">
    @using (Html.BeginForm("Add", "AdminProducts", FormMethod.Post))
    {
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
            <textarea class="form-control" id="Description" asp-for="Description"></textarea>
        </div>
        <div class="col-md-8 mb-3">
            <label class="form-label">Featured Image Upload</label>
            <input type="file" id="featuredImageUpload" class="form-control"/>

            <img src="" id="featuredImageDisplay" style="display:none;width: 300px" />
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.FeaturedImageUrl, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.FeaturedImageUrl, new { @class = "form-control", id="featuredImageUrl" })
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.Price, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.Quantity, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
        </div>
        <div class="col-md-8 mb-3">
            @Html.LabelFor(m => m.Categories, new { @class = "col-md-4 control-label" })
            <select class="form-select" asp-items="@Model.Categories" asp-for="SelectedCategory">

            </select>
        </div>


        <!-- Initial form for adding variant attributes -->
        <div id="check">
            <div id="variantForms">
                <div class="variant-form" id="variant-form0">
                    <div class="form-group" id="form-group-variant-name">
                        <label for="variantName">Variant Name</label>
                        <input type="text" class="form-control" name="VariantAttributes[0].Name" placeholder="Enter variant name">
                    </div>
                    <div class="form-group" id="form-group-variant-value">
                        <label for="variantValue">Variant Value</label>
                        <input type="text" class="form-control" name="VariantAttributes[0].Value" placeholder="Enter variant value">
                    </div>
                </div>
                <button type="button" class="btn btn-secondary add-variant-value-btn" data-form-key="variant-form0">More Variant Value</button>
            </div>
        </div>

        <!-- Button to add more variant forms -->
        <button type="button" class="btn btn-secondary" id="addVariantBtn">Add Variant Attribute</button>
        <button type="button" class="btn btn-secondary" id="doneBtn">Done</button>

        <hr />

        <!-- Table to display variant attributes -->
        <h2>Variant Attributes</h2>
        <table class="table" id="variant-table">
            <thead id="variantAttributesHead">
                <tr>

                </tr>
            </thead>
            <tbody id="variantAttributesBody">
                <tr>

                </tr>
            </tbody>
        </table>


        <div class="col-md-8 mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    }
</div>

@section Scripts {
    <script>
        var editor = new FroalaEditor("#Description", {
            imageUploadURL: '/api/images'
        });


        const featuredUploadElement = document.getElementById("featuredImageUpload");
        const featuredImageUrlElement = document.getElementById("featuredImageUrl");
        const featuredImageDisplayElement = document.getElementById("featuredImageDisplay");
        const variantTableElement = document.getElementById("variant-table")

        async function renderCombinations(array) {
            var combinations = [];
            var currentCombination = [];

            // Recursive function to generate combinations
            function generateCombinations(index) {
                if (index >= array.length) {
                    combinations.push(currentCombination.slice()); // Push a copy of the current combination
                    return;
                }

                for (var i = 0; i < array[index].length; i++) {
                    currentCombination.push(array[index][i]);
                    generateCombinations(index + 1);
                    currentCombination.pop(); // Backtrack to try the next element in the current array
                }
            }

            generateCombinations(0); // Start generating combinations from the first array

            // Render combinations
            //for (var j = 0; j < combinations.length; j++) {
            //    console.log(combinations[j].join(' ')); // Render each combination as a string separated by space
            //}


            for (var i = 0; i < combinations.length; i++) {
                var combination = combinations[i];
                var row = '<tr>';

                for (var j = 0; j < combination.length; j++) {
                    row += '<td>' + combination[j] + '</td>';
                }

                row += '<td><input type="text" class="form-control" name="Price" placeholder="Enter price"></td>' +
                    '<td><input type="text" class="form-control" name="Quantity" placeholder="Enter quantity"></td>' +
                    '</tr>';

                $('#variantAttributesBody').append(row);
            }

        }

        
        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    console.log(result)
                    featuredImageUrlElement.value = result.link;
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                });

        }

        featuredUploadElement.addEventListener('change', uploadFeaturedImage);

        


        $(document).ready(function () {
            var variantCounter = 1;
            var variantValueCounter = $('#variantForms .form-group').length;

            

            async function updateTableColumns() {
                $('#variantAttributesHead tr').empty();
                $('#variantAttributesBody tr').empty();

                for (var i = 0; i < variantCounter; i++) {
                    $('#variant-table #variantAttributesHead tr').append('<th>Variant Name</th>');
                    $('#variant-table #variantAttributesBody tr').append('<td><input type="text" class="form-control" /></td>');
                }

                $('#variant-table #variantAttributesHead tr').append('<th>Price</th>');
                $('#variant-table #variantAttributesBody tr').append('<td><input type="text" class="form-control" /></td>');
                $('#variant-table #variantAttributesHead tr').append('<th>Quantity</th>');
                $('#variant-table #variantAttributesBody tr').append('<td><input type="text" class="form-control" /></td>');

            }
            updateTableColumns();


            async function updateTableRows() {
                var variantNames = [];
                var variantValuesArray = [];

                $('.variant-form').each(function () {
                    var variantValues = [];
                    $(this).find('[name^="VariantAttributes"][name$="Value"]').each(function () {
                        var value = $(this).val();
                        variantValues.push(value);
                    });
                    variantValuesArray.push(variantValues);
                });


                // Clear existing table rows
                $('#variantAttributesBody').empty();

                //console.log(variantValuesArray);

                // Generate table rows


                renderCombinations(variantValuesArray);

                
            }





            

            // Function to add a new variant form
            function addVariantForm() {3
                var newForm = '<div class="variant-form" id="variant-form'+ variantCounter +'">' +
                    '<div class="form-group" id="form-group-variant-name">' +
                    '<label for="variantName">Variant Name</label>' +
                    '<input type="text" class="form-control" name="VariantAttributes[' + variantCounter + '].Name" placeholder="Enter variant name">' +
                    '</div>' +
                    '<div class="form-group" id="form-group-variant-value">' +
                    '<label for="variantValue">Variant Value</label>' +
                    '<input type="text" class="form-control" name="VariantAttributes[' + variantCounter + '].Value" placeholder="Enter variant value">' +
                    '</div>' +
                    '</div>' + '<button type="button" class="btn btn-secondary add-variant-value-btn" data-form-key="variant-form' + variantCounter + '" >More Variant Value</button>';

                $('#variantForms').append(newForm);
            }


            $('#addVariantBtn').click(function () {
                addVariantForm();
                variantCounter++;
                
            });

            $('#doneBtn').click(function () {
                updateTableColumns();
                updateTableRows();
            })


            function addVariantValueForm(formKey) {
                var newForm =
                    '<div class="form-group" id="form-group-variant-value">' +
                    '<label for="variantValue">Variant Value</label>' +
                    '<input type="text" class="form-control" name="VariantAttributes[' + variantCounter + '].Value" placeholder="Enter variant value">' +
                    '</div>' +
                    '</div>';

                $('#' + formKey).append(newForm);
            }

            $(document).on('click', '.add-variant-value-btn', function () {
                var formKey = $(this).data('form-key');
                addVariantValueForm(formKey);
                //console.log(variantValueCounter)
            });


        });



    </script>
}