@model List<ShopWeb.Models.Domain.Product>;
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Products - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5" id="productAdmin-container">
    <p>
        <a asp-area="" asp-controller="AdminProducts" asp-action="Add" class="btn btn-primary">Create New</a>
    </p>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Ảnh</th>
                    <th>Mô tả</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Danh mục</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td><img src="@product.FeaturedImageUrl" class="d-block img-fluid mb-3" style="width: 200px; height: 100px" /></td>
                        <td><a asp-area="" asp-action="Detail" asp-controller="AdminProducts" asp-route-id="{@product.Id}">Chi Tiết</a></td>
                        <td>@product.Price</td>
                        <td>@product.Quantity</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in product.Categories)
                                {
                                    <span class="badge bg-secondary">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                               asp-action="Edit"
                               asp-controller="AdminProducts"
                               asp-route-id="{@product.Id}">Sửa</a>
                        </td>
                        <td>
                            <a asp-area=""
                               asp-action="Delete"
                               asp-controller="AdminProducts"
                               asp-route-id="{@product.Id}">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Products Found!</p>
    }
</div>

<div class="container">
    <div id="paging-bar">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @if (Model != null && ViewBag.pageCount > 1)
                {
                    for (int i = 1; i <= ViewBag.pageCount; i++)
                    {
                        <li class="page-item @(ViewBag.page == i ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>