@using Microsoft.AspNetCore.Identity;
@using ShopWeb.Models.Domain;
@inject UserManager<ApplicationUser> userManager;

@model ShopWeb.Models.ViewModels.PurchaseVM.AcceptPurchaseRequest;
@{
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div id="shipper-order-container">

    <h1>Your Order</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Purchase Date</th>
                <th>Total Price</th>
                <th>Phương thức thanh toán</th>
                <th>Địa chỉ</th>
                <th>Ghi chú</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model.Purchases)
            {
                <tr>
                    <td>@purchase.Id</td>
                    <td>@(await userManager.FindByIdAsync(purchase.UserId.ToString()))</td>
                    <td>@purchase.PurchaseDate</td>
                    <td>@purchase.TotalPrice</td>
                    <td>@purchase.PaymentMethod</td>
                    <td>@purchase.Address</td>
                    <td>@purchase.Note</td>
                    @if (purchase.State == "None")
                    {
                        <td>
                            <a asp-area="" asp-controller="Shipper" asp-action="AcceptPurchase" asp-route-id="{@purchase.Id}">Nhận đơn</a>
                        </td>
                    } else
                    {
                        <td>@purchase.State</td>
                    }
                
                </tr>
            }
        </tbody>
    </table>
</div>