@model List<ShopWeb.Models.Domain.Category>;
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Categories - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5" id="cateAdmin-container">
    <p>
        <a asp-area="" asp-controller="AdminCategory" asp-action="Add" class="btn btn-primary">Create New</a>
    </p>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Mô tả</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cate in Model)
                {
                    <tr>
                        <td>@cate.Id</td>
                        <td>@cate.Name</td>
                        <td>@cate.Description</td>
                        <td><a asp-area=""
                            asp-action="Edit"
                            asp-controller="AdminCategory"
                            asp-route-id="{@cate.Id}"
                        >Sửa</a></td>
                        <td>
                            <a asp-area=""
                               asp-action="Delete"
                               asp-controller="AdminCategory"
                               asp-route-id="{@cate.Id}">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
                @if (Model != null && ViewBag.pageCount > 1)
                {
                    for (int i = 1; i <= ViewBag.pageCount; i++)
                    {
                        <li class="page-item @(ViewBag.page == i ? "active" : "")">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page=@i">@i</a>
                        </li>
                    }
                }
            </ul>
        </div>
    } else
    {
        <p>No Categories Found!</p>
    }
</div>

