@model ShopWeb.Models.ViewModels.CouponVM.CreateCouponViewModel


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Coupon - Admin Functionality</h1>
    </div>
</div>

<div id="coupon-container">
    @using (Html.BeginForm("Create", "Coupon", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Code)
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DiscountAmount)
            @Html.TextBoxFor(model => model.DiscountAmount, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DiscountAmount, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDate)
            @Html.TextBoxFor(model => model.ExpirationDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    }
</div>

