@using Microsoft.AspNetCore.Identity;
@using ShopWeb.Models.Domain;
@inject UserManager<ApplicationUser> userManager;

@model ShopWeb.Models.ViewModels.PurchaseVM.PurchaseViewModel
@{
    ViewData["Title"] = "Purchase";
}

<h1>Review Your Order</h1>

<h2>Order Summary</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Subtotal</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>

@using (Html.BeginForm("ApplyCoupon", "Purchase", FormMethod.Post))
{
    <h2>Apply Coupon</h2>
    <div class="form-group">
        @Html.HiddenFor(m => m.TotalPrice)
        @Html.LabelFor(model => model.CouponCode, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CouponCode, new { @class = "form-control", id = "couponCode" })
        @Html.ValidationMessageFor(model => model.CouponCode, "", new { @class = "text-danger" }) 
    </div>
    <button type="submit" class="btn btn-primary">Apply Coupon</button>
}


@using (Html.BeginForm("Confirm", "Purchase", FormMethod.Post))
{
    @Html.HiddenFor(model => model.TotalPrice)

    <button type="submit" class="btn btn-primary">Confirm Order</button>
}