@using Microsoft.AspNetCore.Identity;
@using ShopWeb.Models.Domain;
@inject UserManager<ApplicationUser> userManager;

@model List<ShopWeb.Models.Domain.Purchase>
@{
}
@{
    ViewBag.RenderDefaultNavbar = false;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>

}
@await Html.PartialAsync("SideNavBar")

<div id="purchase-container" style="margin-left: 200px;">
    <h1>Your Order</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Khách hàng</th>
                <th>Ngày tạo hóa đơn</th>
                <th>Tổng tiền</th>
                <th>Phương thức thanh toán</th>
                <th>Địa chỉ</th>
                <th>Ghi chú</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.Id</td>
                    <td>@(await userManager.FindByIdAsync(purchase.UserId.ToString()))</td>
                    <td>@purchase.PurchaseDate</td>
                    <td><span class="vnd-symbol">đ</span>@purchase.TotalPrice.ToString("N0")</td>
                    <td>@purchase.PaymentMethod</td>
                    <td>@purchase.Address</td>
                    <td>@purchase.Note</td>
                    <td><a asp-area="" asp-controller="Purchase" asp-action="Detail" asp-route-id="{@purchase.Id}">Chi Tiết</a></td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@purchase.Id" method="post">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
